html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    
    
}



.sectionA{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #dad7cd;
    

}


.titlename{
    display: inline;
    text-align: center;
}


.svg{
    position: relative;
    width: 100px;
    margin: auto;
    left: 20%;
    
}


.svg a{
    color: black;
    transition: 1s ease;
    text-decoration: none;
}

.svg a:hover{
    transition: 1s ease;
    color: #d4a373;
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
    
   
}

li a{
    color: black;
    transition: 1s ease;
    text-decoration: none;
}


li a:hover{
    transition: 1s ease;
    color: #d4a373;
}



.cont_nav{
    position: relative;
    width: 390px;
    margin: auto;
    top: 0.5em;
    
}


.column{
    display: flex;
}


.photo{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 4px;
    
}



.photo img:hover {
    transform: scale(1.1); /* Збільшення зображення на 10% при наведенні */
    transition: transform 0.3s ease; /* Плавний перехід між станами */
}

.photo img{
    
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    border: 2px solid #B9B7BD;
    object-fit: cover;
    border-radius: 5%; 
    
}

.zoomed-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    transition: 2s ease;
}

.zoomed-container img {
    max-width: 100%;
    max-height: 100%;
    
}


/* Додайте стилі для стрілок */
#arrow {
    position: absolute;
    top: 50%;
    font-size: 24px;
    cursor: pointer;
    color: white;
    
    padding: 10px;
    border-radius: 50%;
    display: none;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

/* Зробіть стрілки видимими при наведенні на збільшене зображення */
.zoomed-container:hover .arrow {
    display: block;
}



/* Початок другої сторінки Biography*/


.cont_A{
    width: 400px;
    height: 200px;
    text-align: center;
    margin: auto;
    font-size: 0.9em;
}

/* початок третьої сторінки контакт*/
.cont_M{
    width: 400px;
    text-align: center;
    margin: auto;
    font-size: 0.9em;
}



.form{
    box-sizing: border-box;
    margin: auto;
    width: 356px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
        
      
}



.input-groupA {
    width: 100%;
    display: flex;
    gap: 10px;
    text-align: center;
    margin-bottom: 10px;
}


.firstname1,.lastname1{
    align-items: center;
    
}




.input-groupB{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    
    
}



#subject,#email,#adres{
    position: relative;
    width: 100%;
    text-align: center;

}




#phone{
   position: relative;
   width: 80%;
   text-align: center;
    
}


#textarea{
    width: 100%;
    height: 100px;
    resize: none;
    overflow: none;
}




#button {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.send, .reset {
    background-color: #b8c0ff;
    border: 1px solid #000; /* Додайте рамку для більшої видимості кнопок */
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    color: white;
}

.send:hover, .reset:hover {
    background-color: #d5bdaf; /* Змініть колір фону при наведенні */
    color: #white; /* Змініть колір тексту при наведенні */
}





.send.clicked {
    animation: clickAnimation 1s ease;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


/* Стилі для телефонів з діагоналлю близькою до 6.7 дюйма */
@media only screen and (max-width: 480px) and (min-width: 320px) and (max-width: 6.7in) and (min-width: 6.6in) {
    body {
        width: 80%;
    }

    .form {
        width: 80%;
    }

    .send, .reset {
        width: 100%; /* Робимо кнопки повноширокими на малих екранах */
    }
}

/* Медіа-запит для екранів шириною менше 600px */
@media screen and (max-width: 600px) {
    body{
        width: 80%%;
    }
    
    .form .cont_A {
        width: 90%;
    }

    .input-groupA, .input-groupB {
        gap: 5px;
    }

    .send, .reset {
        width: 100%; /* Робимо кнопки повноширокими на малих екранах */
    }
    .cont_A {
        width: 80%;
    }

    .cont_nav {
        width: 100%;
    }

    .column {
        flex-direction: column;
        padding: 20px;
    }

    .photo {
        margin: 10px 0;
    }
}
}

/* Медіа-запит для екранів шириною менше 400px */
@media screen and (max-width: 400px) {
    .form .cont_A {
        width: 80%;
    }

    .send, .reset {
        width: 100%; /* Робимо кнопки повноширокими на малих екранах */
    }
}



/* start write code hidden menu blok on a max-width 600px */

@media only screen and (max-width: 600px) {

    .cont_nav {
        display: none;
        flex-direction: column;
        width: 100%;
        float: left;
   
    }

    ul .show{
        display: flex;
    }

    li {
        text-align: center;
        width: 100%;
      }

      .toggle-menu-btn {
        display: block;
      }

}







